{% extends "layout.html" %}
{% block content %}

<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello, Admin.
            </h1>
            <h2 class="subtitle">
                Check out your latest stock and sales figures below...
            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{awaiting-order-count}}</p>
                <p class="subtitle">Orders Awaiting Processing</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{processed-order-count}}</p>
                <p class="subtitle">Total Orders Processed</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">£{{profit|double-format:2}}</p>
                <p class="subtitle">Profit</p>
            </article>
        </div>
    </div>
</section>
<section>
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">Stock</p>
            <a class="card-header-icon card-toggle">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content is-hidden">
            <div class="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Colour</th>
                            <th>Quality</th>
                            <th>Quantity</th>
                            <th>Price (£)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{product.SKU}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.size}}</td>
                            <td>{{product.color}}</td>
                            <td>{{product.quality}}</td>
                            <td>{{product.quantity}}</td>
                            <td>£{{product.price}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">Orders</p>
            <a class="card-header-icon card-toggle">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content is-hidden">
            <div class="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Customer Name</th>
                            <th>Customer Address</th>
                            <th>Items</th>
                            <th>Total Cost (£)</th>
                            <th>Order Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="accordions">
                        {% for order in orders %}
                        <tr>
                            <td>{{order._id}}</td>
                            <td>{{order.fullname}}</td>
                            <td>
                                {{order.address1}}
                                {{order.address2}}
                            </td>
                            <td>
                                {{ for item in order.order }}
                                    {{item.sku}} {item.design}
                                    <br/>
                                {{ endfor }}
                            </td>
                            <td>£{{order.price|double-format:2}}</td>
                            <td>{{order.status}}</td>
                            <td>
                                {% ifequal order.status "Shipped" %}
                                <div class="is-flex is-justify-content-center">
                                    <button disabled type="submit" class="button is-small is-secondary">Package Shipped</button>
                                </div>
                                {% else %}
                                <form class="is-flex is-justify-content-center" action="dashboard" method="post">
                                    {% csrf-field %}
                                    <input type="hidden" name="oid" value="{{order._id}}">
                                    <button  type="submit" class="button is-small is-primary">Package & Deliver</button>
                                </form>
                                {% endifequal %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% script """/js/dashboard.js" %}
{% endblock %}
