{% extends "layout.html" %}
{% block content %}

<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello, Admin.
            </h1>
            <h2 class="subtitle">
                Check out your latest stock and sales figures below...
            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">0</p>
                <p class="subtitle">Orders Awaiting Processing</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">19</p>
                <p class="subtitle">Total Orders Processed</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">£882.23</p>
                <p class="subtitle">Profit</p>
            </article>
        </div>
    </div>
</section>
<section>
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">Stock</p>
            <a class="card-header-icon card-toggle">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content is-hidden">
            <div class="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Colour</th>
                            <th>Quality</th>
                            <th>Quantity</th>
                            <th>Price (£)</th>
                        </tr>
                    </thead>
                    <script>
                        console.log(products)
                        </script>
                    {% for product in products %}
                    <tbody>
                        <tr>
                            <td>{{product.SKU}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.size}}</td>
                            <td>{{product.color}}</td>
                            <td>{{product.quality}}</td>
                            <td>{{product.quantity}}</td>
                            <td>£{{product.price}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">Orders</p>
            <a class="card-header-icon card-toggle">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content is-hidden">
            <div class="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Customer Name</th>
                            <th>Customer Address</th>
                            <th>Items</th>
                            <th>Total Cost (£)</th>
                        </tr>
                    </thead>
                    <tbody>
            
                    </tbody>
                    <tfoot>
            
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}