{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="box p-0">
        <div class="level is-flex is-justify-content-center">
            <p class="is-size-4" style="max-width: 400px;">
                <img class="image is-32x32 mt-1 mr-2" src="/img/logo.png" alt="Clojure clothes logo"/><b>Clojure Clothes</b> is a fictional t-shirt store, which demonstrates use of the clojure programming
                language to allow users to purchase t-shirts and admins to track orders.
            </p>
            <figure class="image">
                <img height="300px" width="200px" src="/img/t-shirts/black.jpg" alt="T-shirt"/>
            </figure>
        </div>
    </div>
</div>

{% endblock %}
