<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clojure Clothes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    -->
    {% style """/assets/bulma/css/bulma.min.css" %}
    {% style """/assets/material-icons/css/material-icons.min.css" %}
    {% style """/css/admin.css" %}
</head>

<body>
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="/">
                    Clojure Clothes
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <ul class="menu-list button">
                        <li><a href="/" class="{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a></li>
                    </ul>
                    <p class="menu-label">
                        Customer UI
                    </p>
                    <ul class="menu-list button">
                        <li><a href="/shop" class="{% ifequal page "store.html" %} is-active{%endifequal%}">Store</a></li>
                   </ul>
                   <p class="menu-label">
                        Admin UI
                    </p>
                    <ul class="menu-list button">
                        <li><a href="/dashboard" class="{% ifequal page "dashboard.html" %} is-active{%endifequal%}">Dashboard</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>