<!--https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/admin.html-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clojure Clothes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-accordion@0.2.3/bulma-accordion.min.css">
    {% style """/assets/bulma/css/bulma.min.css" %}
    {% style """/assets/material-icons/css/material-icons.min.css" %}
    {% style """/css/admin.css" %}
    {% style """/css/app.css" %}
</head>
<body>
    <nav class="navbar is-white">
        <div class="container is-justify-content-flex-end">
            <a href="/">
                <div class="navbar-brand is-align-items-center">
                    <figure class="image is-64x64">
                        <img src="/img/logo.png" alt="Shop logo" class="logo"/>
                    </figure>
                    <h1 class="navbar-item title is-1">
                        Clojure Clothes
                    </h1>
                </div>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="columns">
            <div class="column is-2 ">
                <aside class="menu is-hidden-mobile">
                    <ul class="menu-list button">
                        <li><a href="/" class="{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a></li>
                   </ul>
                    <p class="menu-label">
                        Customer UI
                    </p>
                    <ul class="menu-list button mb-2">
                        <li><a href="/shop" class="{% ifequal page "shop.html" %} is-active{%endifequal%}">Shop</a></li>
                   </ul>
                   <ul class="menu-list button">
                        <li><a href="/order-tracker" class="{% ifequal page "order-tracker.html" %} is-active{%endifequal%}">Order Tracker</a></li>
                    </ul>
                   <p class="menu-label">
                        Admin UI
                    </p>
                    <ul class="menu-list button">
                        <li><a href="/dashboard" class="{% ifequal page "dashboard.html" %} is-active{%endifequal%}">Dashboard</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@0.2.3/accordion.min.js"></script>
</html>
