{% extends "layout.html" %}
{% block content %}

<div class="container">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <h3 class="is-size-3">Shop</h2>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Shopping Cart <b>[Total = £<span id="cart-total"></span>]</b></span>
                        <span class="icon is-small">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content" id="cart">
                      </div>
                    </div>
                  </div>   
            </div>
            <button onclick="clearCart()" class="button is-danger level-item">Clear</button>
            <a href="/checkout" class="button is-success level-item">Checkout</a>
        </div>
    </nav>
    <div class="columns is-mobile is-multiline is-centered">
        {% for product in products %}
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title"><b>{{product.name}}</b></p>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3 is-centered">
                        {% ifequal product.color "Blue" %}
                        <img src="/img/t-shirts/blue.jpg" alt="Blue t-shirt">
                        {% endifequal %}
                        {% ifequal product.color "Black" %}
                        <img src="/img/t-shirts/black.jpg" alt="Black t-shirt">
                        {% endifequal %}
                        {% ifequal product.color "Green" %}
                        <img src="/img/t-shirts/green.jpg" alt="Green t-shirt">
                        {% endifequal %}
                        {% ifequal product.color "Red" %}
                        <img src="/img/t-shirts/red.jpg" alt="Red t-shirt">
                        {% endifequal %}
                        {% ifequal product.color "White" %}
                        <img src="/img/t-shirts/white.jpg" alt="White t-shirt">
                        {% endifequal %}
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                          <p class="is-size-6 mb-0"><b>Price:</b> £{{product.price}}</p>
                          <p class="is-size-6 mb-0"><b>SKU:</b> {{product.SKU}}</p>
                          <p class="is-size-6 mb-0"><b>Colour:</b> {{product.color}}</p>
                          <p class="is-size-6 mb-0"><b>Size:</b> {{product.size}}</p>
                          <p class="is-size-6 mb-0"><b>Quality:</b> {{product.quality}}</p>
                          <p class="is-size-6 mb-0"><b>Quantity in Stock:</b> {{product.quantity}}</p>
                    </div>
                </div>
                <footer class="card-footer is-flex is-align-items-center p-3">
                    <input onchange="updateQuantity('{{product.SKU}}', this)" type="number" class="card-footer-item input is-small is-rounded mr-2" placeholder="Quantity">
                    <button onclick="addToCart({ sku: '{{product.SKU}}', price: parseFloat('{{product.price}}'), name: '{{product.name}}', quality: '{{product.quality}}', color: '{{product.color}}', size: '{{product.size}}' })" class="card-footer-item button is-small ml-2">Add to Cart</button>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% script """/js/shop.js" %}
{% endblock %}
